[submodule "deps/UglifyJS"]
	path = deps/UglifyJS
	url = https://github.com/mishoo/UglifyJS.git
[submodule "deps/argsparser"]
	path = deps/argsparser
	url = git@github.com:kof/node-argsparser.git
[submodule "deps/qunit"]
	path = deps/qunit
	url = https://github.com/jquery/qunit.git
